* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }

  h1, h2 {
    margin-top: 20px;
    color: #333;
  }

  form {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  #userList {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  #userList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  




  
  .user-name {
    font-weight: bold;
    color: #333;
    flex: 1;
  }
  
  .user-email {
    color: #555;
    flex: 2;
    text-align: center;
  }
  
  .user-age {
    color: #007bff;
    font-weight: 500;
    flex: 1;
    text-align: right;
  }
  #userListHeading {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #222;
    text-align: center;
  } 
  .admin-user {
    background-color: #f3f3f3;
    border: 2px solid #333;
    font-weight: bold;
  }
  #greetingMessage {
    margin: 5px 0;
    /* padding: 10px; */
    border: 1px solid #5cb85c;
    background-color: #e8f5e9;
    color: #b653d7;
    font-weight: bold;
    /* border-radius: 5px; */
    width: fit-content;
  }
  .delete-btn {
    margin-left: 10px;
    background-color: crimson;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  .user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
  /* .user-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr auto;
    align-items: center;
    width: 100%;
    gap: 10px;
  } */
  
  .admin-placeholder {
    width: 80px; /* roughly equal to delete button width */
    height: 24px; /* match button height */
  }