body {
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center; 
      align-items: center;     
      font-family: sans-serif;
    }
    form {
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    input {
      display: block;
      margin-bottom: 10px;
      width: 90%;
      padding: 8px;
    }
    .member-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f0f0ff;
  width: 300px;
  text-align: left;
}
    button {
      padding: 10px;
      margin-top: 10px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #a0456f;
    }
    #viewSection {
      display: none;
      width: 90%;
    }
    #viewSection h2 {
  text-align: center;
}
    img.profile-pic {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    #memberList {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 20px;            
}
